@using Week6Capstone.Models;
@{ 
    User user = (User)Session["User"];
}

<div id="tasks">
    <table id="taskTable">
        <tr>
            <th>
                <p></p>
            </th>
            <th>
                <p>Task</p>
            </th>
            <th>
                <p>Description</p>
            </th>
            <th>
                <p>User</p>
            </th>
            <th>
                <p>Due Date</p>

            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
        @{ 
            for(int i = 0; i < TaskList.tasks.Count; i++)
            {
                string idIndex = "task" + i;
                int index = i + 1;
                <tr class="task" style="background: @TaskList.AddColor(i)">
                    <td>
                        <h4>Task @index</h4>
                    </td>
                    <td>
                        <h4>@TaskList.tasks[i].Name</h4>
                    </td>
                    <td>
                        <h4>@TaskList.tasks[i].Description</h4>
                    </td>
                    <td>
                        <h4>@user.Name</h4>
                    </td>
                    <td>
                        <h4>@TaskList.tasks[i].DueDate</h4>
                    </td>
                    <td>
                        @if (!TaskList.tasks[i].IsComplete)
                        {
                            <form class="taskForm" action="MarkComplete">
                                <input name="id" value="@i" class="hiddenTask" />
                                <input type="submit" value="Mark Complete" />
                            </form>
                        }
                        else
                        {
                            <p>Task Complete!</p>
                        }
                    </td>
                    <td>
                        <form class="taskForm" action="DeleteTask">
                            <input name="id" value="@i"class="hiddenTask" />
                            <input type="submit" value="DELETE" />
                        </form>
                    </td>
                </tr>
            }

        }
    </table>
    <form action="~/Home/AddTask" id="taskForm">
        <input name="Name" type="text" placeholder="Enter Task Name" />
        <input name="Description" type="text" placeholder="Enter Description" required/>
        <input name="DueDate" type="text" placeholder="Enter Due Date" required/>
        <input type="submit" value="Add" />
    </form>
</div>
